html *, body, h1, ul, li, button, div, span {
    font-family: Arial, sans-serif;
    font-size: 16px;
}
h1 {
    border-radius: 10px;
    background: #FFC300;
    padding: 20px;
    color: rgba(0,0,0,0.75);
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 24px;
}
div.info {
    border-radius: 10px;
    background: rgba(0,0,0,0.05);
    padding: 20px;
    color: rgba(0,0,0,0.5);
    font-weight: normal;
}
ul {
    list-style: none;
    padding-left: 1.2em;
    text-indent: -1.2em;
}
li:before {
    content: "►";
    display: block;
    float: left;
    width: 1.2em;
    color: #ff0000;
    margin-top: 7px;
}
li {
    margin: 11px 0px;
}
button {
    border-radius: 10px;
    background: #DAF7A6;
    padding: 8px 10px;
    color: rgba(0,0,0,0.75);
    font-weight: bold;
    text-align: center;
    border: none;
    cursor: pointer;
}
button.row {
    margin-left: 20px;
}
div.total {
    border-radius: 10px;
    background: rgba(0,0,0,0.075);
    padding: 20px;
    color: rgba(0,0,0,0.75);
    font-weight: bold;
    margin-bottom: 20px;
}
div.total span {
    font-weight: normal;
}