@import url("https://fonts.googleapis.com/css2?family=Stardos+Stencil:wght@400;700&display=swap");
h2 {
  border-bottom: 1px solid black;
  font-family: "Stardos Stencil", cursive;
  font-weight: 700;
}

.book-item {
  display: flex;
  justify-content: space-between;
  background-color: lightgray;
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
  padding: 10px;
  align-items: center;
}

.book-item div span {
  display: block;
  font-size: smaller;
}

.book-collection .book-item {
  background-color: lightcyan;
}

button {
  font-family: "Stardos Stencil", cursive;
  font-weight: 700;
  padding: 3px 10px;
  display: block;
  font-size: large;
  min-width: 150px;
}
